<nav class="top-navbar navbar navbar-light navbar-expand-md bg-faded justify-content-center" id="top-navbar">
  <a class="navbar-brand mr-auto navtop-brand d-flex align-items-center" href="#" id="navtop-brand">
    <div class="smart-power-reader-logo"></div>
    <div>Smart Power Reader</div>
  </a>
  <div class="navbar-collapse collapse w-100" id="topnavbar">
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link navtop-item-link" (click)="logout()">
          Logout
        </a>

      </li>
    </ul>
  </div>
</nav>
<div class="top-navbar-padder"></div>




