@import "../../../assets/styles/variables";
a.nav-link {
  color: white;
}
.nav-item{
  padding-left: 5px;
}

.top-navbar {
  height: $header_height;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: none !important;
  padding: 0;
  .smart-power-reader-logo{
    content: '';
    background: url('../../../assets/img/smart-power-reader.jpg') no-repeat;
    background-size: auto 50px;
    background-position: center center;
    width: 100px;
    float: left;
    height: 50px;
  }
  .navbar-brand {
    color: #333;
  }
}


.top-navbar-padder{
  //padding-bottom: $navbar_height;
}

.avatar {
  width: 50px;
  height: 50px;
}

.navbar-brand img{
  width: auto;
  height: 50px!important;
}
