<div [formGroup]="form">
  <div class="header text-center">Add device</div>
  <div class="body">
    <div class="row justify-content-between vertical-align">
      <div class="first-column">
        <div class="input-group mt-2 align-items-center">
          <div class="input-group-prepend">
                <span class="input-group-text">
                  Server
                </span>
          </div>
          <div class="input-form">
            <input type="text" class="form-control" id="server" formControlName="server">
          </div>
          <a class="col-1" (click)="loadServer()">
            <i *ngIf="!isLoadedLink; else isLoadingUrl" class="fas fa-redo fa-flip-horizontal"></i>
            <ng-template #isLoadingUrl>
              <i class="loading-icon fa fa-circle-o-notch fa-spin"></i>
            </ng-template>
          </a>
        </div>
      </div>

      <div class="second-column">
        <div class="input-group mt-2 align-items-center">
          <div class="input-group-prepend">
                <span class="input-group-text">
                  Name
                </span>
          </div>
          <input type="text" class="form-control" id="serverName" formControlName="serverName">
        </div>
      </div>
    </div>

    <div class="row justify-content-between vertical-align mt-2">
      <div class="first-column">
        <div class="input-group mt-2 align-items-center">
          <div class="input-group-prepend">
                <span class="input-group-text">
                  DeviceID
                </span>
          </div>
          <div class="input-form">
            <input type="text" class="form-control" id="deviceID" formControlName="deviceID">
          </div>
        </div>
      </div>

      <div class="second-column">
        <div class="input-group mt-2 align-items-center">
          <div class="input-group-prepend">
                <span class="input-group-text">
                  Name
                </span>
          </div>
          <input type="text" class="form-control" id="deviceName" formControlName="deviceName">
        </div>
      </div>
    </div>

    <div class="row justify-content-between vertical-align mt-2">
      <div class="first-column">
        <div class="input-group mt-2 align-items-center">
          <div class="input-group-prepend">
                <span class="input-group-text">
                  Folder
                </span>
          </div>
          <div class="input-form">
            <input type="text" class="form-control" id="folderName" formControlName="folderName">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer mt-4">
    <div class="row justify-content-between">
      <button type="button" class="cancel-button" (click)="close()">Cancel</button>
      <button type="button" class="save-button" (click)="save()">Save</button>
    </div>
  </div>

</div>
