<footer class="bg-white">
  <div class="row justify-content-between">
    <div class="col-auto">
      <!--<select class="custom-select" (change)="setLanguage($event.target.value)">-->
        <!--<option *ngFor="let lang of languages"-->
                <!--[value]="lang.code" [selected]="lang.code === this.languageService.getLanguage()">{{ lang.label }}</option>-->
      <!--</select>-->
    </div>

    <div class="col-auto">
      <ul class="nav  ml-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link navbar_item_link" data-toggle="collapse" data-target="#footerNavbar" routerLink="/abouts">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar_item_link" data-toggle="collapse" data-target="#footerNavbar" routerLink="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar_item_link" data-toggle="collapse" data-target="#footerNavbar" routerLink="/contacts">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar_item_link" data-toggle="collapse" data-target="#footerNavbar" routerLink="/policies">Policy</a>
        </li>
      </ul>
    </div>
  </div>

</footer>


