<div *ngIf="!isLoading" class="row mt-4 mx-3 graph-wrapper">
    <ngx-charts-line-chart
            class="mt-3"
            [results]="results"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [roundDomains]="roundDomains"
            [autoScale]="autoScale"
            [xAxisTickFormatting]="isLessThan3Days ? axisFormatTime : (isLessThan1Month ? axisFormatDate : axisFormatMonth)">
        <!--<ng-template #tooltipTemplate let-model="model">-->
        <!--<div >{{model.series}}</div>-->
        <!--<div >{{model.name | date: isLessThan3Days ? 'MMM dd HH:mm' : 'MMM dd yy' }}</div>-->
        <!--<div >{{model.value}}</div>-->
        <!--</ng-template>-->
        <ng-template #tooltipTemplate let-model="model">
            <div class="area-tooltip-container">
                <!--<div *ngFor="let tooltipItem of model | json " class="tooltip-item" style="text-align: center;">-->
                <a style=" font-size: 1.2em; color: deepskyblue;">{{model.series}}</a><br/>
                <!--<a *ngIf="isLessThan3Days" style=" font-size: 1.2em;"><br />{{model.name | date: 'HH:mm'}}</a>-->
                <!--<a *ngIf="isLessThan3Days" style=" font-size: 1.3em; font-weight: 600;"><br />&#183;</a><br />-->
                <!--<a style=" font-size: 1.2em; font-weight: 600;">{{model.name | date: 'dd.MM.yyyy'}} &#183; </a>-->
                <a>{{model.name | date: isLessThan3Days ? 'MMM dd HH:mm' : 'MMM dd yyyy' }}</a><br/>
                <a style=" font-size: 1em; font-weight: 600;">{{model.value | number: '1.5'}}</a>
                <!--</div>-->
            </div>
        </ng-template>

        <!--<ng-template #seriesTooltipTemplate let-model="model">-->


        <!--</ng-template>-->
    </ngx-charts-line-chart>

</div>

