<div class="filter-container" >
    <div class="row mt-4" [formGroup]="form">
        <div class="col-3 mr-3">
            <mat-form-field class="col">
                <mat-label>{{selectedDevices.length > 0 ? 'Selected devices' : 'Please select device'}}</mat-label>

                <mat-select multiple placeholder="" disableOptionCentering="true" [value]="selectedDevices" [compareWith]="compareFn">
                    <mat-option (onSelectionChange)="change($event)"
                                class="vertical-align"
                                *ngFor="let device of sensors; let i = index"
                                [value]="device">
                        <div class="row vertical-align" *ngIf="!isLoading">
                            <div class="col-9 description">
                                {{device.name ? device.name : device.id}}
                            </div>
                            <div class="col-3 text-right vertical-align">
                                <mat-icon class="fas fa-check" *ngIf="device.status === 'CONNECTED'"></mat-icon>
                                <mat-icon class="fas fa-ban" *ngIf="device.status === 'DISCONNECTED'"></mat-icon>

                            </div>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row justify-content-between ml-2 mr-3 mt-1">
                <button type="submit" (click)="onSubmit()" [disabled]="selectedDevices.length === 0 || !isFormValid"
                        class="submit-button col-auto">
                    Show
                </button>
                <button type="button"
                        class="edit-button col-auto"
                        (click)="editDevice()">
                    Configuration
                </button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <div class="row vertical-align">
                        <!--<div class="col-2 pl-0 header">From</div>-->
                        <div class="col-6">
                            <div class="input-group from align-items-center">
                                <input class="form-control" id="startDate"
                                       (click)="activeHover('from')"
                                       placeholder="yyyy-mm-dd"
                                       name="startDate"
                                       formControlName="startDate"
                                       ngbDatepicker
                                       #startDate="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary"
                                            (click)="startDate.toggle();activeHover('from')" type="button">
                                        <img src="../../../../../assets/img/svg/calendar-icon.svg"
                                             style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <input class="col" align="middle" formControlName="startTime" type="time" onlyPM='true'
                                   step="1">
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row vertical-align">
                        <!--<div class="col-2 header">To</div>-->
                        <div class="col-6">
                            <div class="input-group align-items-center">
                                <input class="form-control" id="endDate"
                                       placeholder="yyyy-mm-dd"
                                       formControlName="endDate"
                                       ngbDatepicker
                                       #endDate="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="endDate.toggle()" type="button">
                                        <img src="../../../../../assets/img/svg/calendar-icon.svg"
                                             style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <input class="col" align="middle" formControlName="endTime" type="time" onlyPM="true"
                                   step="1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mr-2 justify-content-between">
                <button class="filter-button" type="button" (click)="analyseTime(0, 'days')">Today</button>
                <button class="filter-button" type="button" (click)="analyseTime(1, 'days')">Yesterday</button>
                <button class="filter-button" type="button" (click)="analyseTime(1, 'weeks')">Last week</button>
                <button class="filter-button" type="button" (click)="analyseTime(0, 'months')">This month</button>
                <button class="filter-button" type="button" (click)="analyseTime(1, 'months')">Last month</button>
                <button class="filter-button" type="button" (click)="analyseTime(0, 'years')">This year</button>
                <button class="filter-button" type="button" (click)="analyseTime(1, 'years')">Last Year</button>
                <button class="filter-button" type="button" (click)="selectLast()">Last Period</button>

            </div>
        </div>

    </div>
</div>





