$select-border-color: #ccc;
$select-focus-color: green;

.header {
  font-size: 30px;
  font-weight: bold;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 650px;
  .first-column {
    width: 400px;
    .input-group-prepend {
      width: 90px !important;
    }
    .input-form {
      width: 300px;
    }
  }

  .second-column {
    width: 250px;
    .form-control {
      width: 100px;
    }
  }
}

.form-control {
  border-radius: 0.25rem !important;
}

.cancel-button {
  background-color: #cc1c35;
  color: white;
}

.save-button {
  background-color: #009688;
  color: white;
}

button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0.75rem #e4e4e4;
  &:disabled {
    background-color: #6a6a6a;
  }
}

.borderless {
  border-top: none;

  tbody {
    tr {
      margin-top: 0;

      td {
        border-top: none;
        font-size: 1rem;
      }

      td:nth-child(1) {
        width: 17%;
      }

      td:nth-child(2) {
        width: 40%;
      }

      td:nth-child(3) {
        width: 13%;
      }

      td:nth-child(4) {
        width: 30%;
      }
    }


  }
}
select {
  cursor: pointer;
  /* styling */
  background-color: white;
  border: 1px solid $select-border-color;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, $select-border-color 50%),
  linear-gradient(135deg, $select-border-color 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;

  /* Very imp: hide arrow in IE */
  &::-ms-expand {
    display: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: none;
  }

  &:focus {
    background-image: linear-gradient(45deg, $select-focus-color 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, $select-focus-color 50%);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: $select-focus-color;
    outline: 0;
  }

}




