<div [formGroup]="form">
    <div class="header text-center">Configuration</div>
    <table class="table borderless mt-3">
        <tbody>
        <tr class="vertical-align">
            <td>
                Device Id
            </td>
            <td>
                <select class="form-control" formControlName="deviceId"
                        (change)="onChangeSensor($event)">
                    <option *ngFor="let sensor of sensors; let i = index" [value]="sensor.id">
                        {{sensor.name ? sensor.name : sensor.id}}
                    </option>
                </select>
            </td>
            <td>
                Name
            </td>
            <td>

                <input type="text"
                       class="form-control"
                       id="deviceName"
                       formControlName="deviceName">
            </td>
        </tr>
        <tr class="vertical-align" *ngIf="!!selectedSensor && !!selectedSensor.data">
            <td *ngIf="isPeriodAvailable">
                Period
            </td>
            <td *ngIf="isPeriodAvailable">
                <input type="number"
                       class="form-control col-6"
                       id="period"
                       formControlName="period">
            </td>
            <td *ngIf="isSwitchStateAvailable">
                Turn on
            </td>
            <td *ngIf="isSwitchStateAvailable">
                <mat-slide-toggle
                        class="switch-state vertical-align"
                        [color]="'#009688'"
                        formControlName="activated">
                </mat-slide-toggle>
            </td>
        </tr>
        <tr class="vertical-align" *ngIf="!!selectedSensor && !!selectedSensor.data">
            <td *ngIf="isEmergencyAvailable">
                Emergency
            </td>
            <td *ngIf="isEmergencyAvailable">
                <mat-slide-toggle
                        class="manual-status vertical-align"
                        [color]="'#009688'"
                        formControlName="emergency"
                        [disabled]="true">
                </mat-slide-toggle>
            </td>
            <td *ngIf="isManualAvailable">
                Manual
            </td>
            <td *ngIf="isManualAvailable">
                <mat-slide-toggle
                        class="manual-status vertical-align"
                        [color]="'#009688'"
                        formControlName="manual"
                        [disabled]="true">
                </mat-slide-toggle>
            </td>
        </tr>
        </tbody>
    </table>


    <!--<div class="body">-->

    <!--<div class="row justify-content-between vertical-align mt-2">-->
    <!--<div class="first-column">-->
    <!--<div class="input-group  align-items-center">-->
    <!--<div class="input-group-prepend">-->
    <!--<span class="input-group-text">Device Id</span>-->
    <!--</div>-->
    <!--<div class="input-form">-->
    <!--<select class="form-control" formControlName="deviceId"-->
    <!--(change)="onChangeSensor($event)">-->
    <!--<option *ngFor="let sensor of sensors; let i = index" [value]="sensor.id">-->
    <!--{{sensor.name ? sensor.name : sensor.id}}-->
    <!--</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="second-column">-->
    <!--<div class="input-group align-items-center">-->
    <!--<div class="input-group-prepend">-->
    <!--<span class="input-group-text">Name</span>-->
    <!--</div>-->
    <!--<input type="text"-->
    <!--class="form-control"-->
    <!--id="deviceName"-->
    <!--formControlName="deviceName">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row justify-content-between vertical-align mt-3" *ngIf="!!selectedSensor && !!selectedSensor.data">-->
    <!--<div class="first-column" *ngIf="!!selectedSensor.data.PWR_PERIOD">-->
    <!--<div class="input-group align-items-center">-->
    <!--<div class="input-group-prepend">-->
    <!--<span class="input-group-text">Period</span>-->
    <!--</div>-->
    <!--<input type="number"-->
    <!--class="form-control col-3"-->
    <!--id="period"-->
    <!--formControlName="period">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div *ngIf="isSwitchStateAvailable"-->
    <!--class="vertical-align"-->
    <!--[ngClass]="{-->
    <!--'first-column': !selectedSensor.data.PWR_PERIOD && isSwitchStateAvailable,-->
    <!--'second-column': !!selectedSensor.data.PWR_PERIOD &&  isSwitchStateAvailable}">-->
    <!--<div class="input-group align-items-center">-->
    <!--<div class="input-group-prepend">-->
    <!--<span class="input-group-text">Turn on</span>-->
    <!--</div>-->
    <!--<mat-slide-toggle-->
    <!--class="switch-state vertical-align"-->
    <!--[color]="'#009688'"-->
    <!--formControlName="activated">-->
    <!--</mat-slide-toggle>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--<div class="row justify-content-between vertical-align mt-3" *ngIf="!!selectedSensor && !!selectedSensor.data">-->
    <!--<div class="first-column" *ngIf="isEmergencyAvailable">-->
    <!--<div class="input-group align-items-center">-->
    <!--<div class="input-group-prepend">-->
    <!--<span class="input-group-text">Emergency</span>-->
    <!--</div>-->
    <!--<mat-slide-toggle-->
    <!--class="manual-status vertical-align"-->
    <!--[color]="'#009688'"-->
    <!--formControlName="emergency"-->
    <!--[disabled]="true">-->
    <!--</mat-slide-toggle>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div *ngIf="isManualAvailable"-->
    <!--class="vertical-align"-->
    <!--[ngClass]="{-->
    <!--'first-column': !isEmergencyAvailable && isManualAvailable,-->
    <!--'second-column': isEmergencyAvailable &&  isManualAvailable}">-->
    <!--<div class="input-group align-items-center">-->
    <!--<div class="input-group-prepend">-->
    <!--<span class="input-group-text">-->
    <!--Manual-->
    <!--</span>-->
    <!--</div>-->
    <!--<mat-slide-toggle-->
    <!--class="manual-status vertical-align"-->
    <!--[color]="'#009688'"-->
    <!--formControlName="manual"-->
    <!--[disabled]="true">-->
    <!--</mat-slide-toggle>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <div class="footer mt-4">
        <div class="row justify-content-between">
            <button type="button" class="cancel-button" (click)="close()">Cancel</button>
            <button type="button" class="save-button" [disabled]="!isFormValid()" (click)="save()">Save</button>
        </div>
    </div>
</div>
